li {
  list-style: none;
  background-color: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30em;
  padding: 5px; }
  li .completed {
    color: #cdcdcd; }
  li .delete {
    visibility: hidden;
    float: right; }

li:hover .delete {
  visibility: visible; }

.delete {
  color: red; }

.delete:hover {
  background-color: #ff9999; }

.delete:active {
  background-color: #ff6666;
  color: white; }
